$title-font: Bungee;
$content-font: "Source Sans Pro";

$bg-colour: #f4f1ec;
$text-colour: #545149;
$inverted-text-colour: #ffffff;
$border-colour: #50504b;

$nav-colour: transparent;
$nav-colour-screen: #43579c;
$new-tweet-icon-colour: #ef4126;

$header-bg-colour: #d69d37;

$textarea-colour: transparent;
$error-text-colour: red;
$submit-button-colour: #4056a1;

$tweet-id-colour: #c8c8e1;
$tweet-icons-colour: #be9637;
$tweet-shadow-colour: #bebed2;

$circle-button-colour: red;
