@use "mixins";
@use "variables";

nav {
  @include mixins.center-align;
  @include mixins.equally-spread;

  position: fixed;
  background-color: variables.$nav-colour;
  color: variables.$inverted-text-colour;
  height: 75px;
  width: 100vw;
  padding: 0 1.5em;
  top: 0px;
  left: 0px;

  span.logo {
    font-family: variables.$title-font;
    font-size: 1.2em;
  }

  #to-new-tweet {
    font-size: 0.75em;
    text-align: center;

    i.fas {
      color: variables.$new-tweet-icon-colour;
      position: relative;
      animation: move 2s infinite;
    }
    
    @keyframes move {
      0% {top: 0px;}
      50% {top: 8px;}
      100% {top: 0px;}
    }

    .strong {
      font-weight: 600;
    }

    .light {
      font-weight: 100;
    }
  }

  #to-new-tweet:hover {
    cursor: pointer;
  }
}
