@use "mixins";
@use "variables";

#scroll-to-top {
  display: none;

  .circle-container {
    @include mixins.center-align;

    background-color: variables.$circle-button-colour;
    height: 2.9em;
    width: 2.9em;
    border-radius: 50%;
    justify-content: center;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;

    .fa-angle-double-up {
      color: variables.$inverted-text-colour;
      font-size: 1.2em;
      border-radius: 50%;
      text-align: center;
    }
  }

  .circle-container:hover {
    cursor: pointer;
  }
}
