@use "mixins";
@use "variables";

article.tweet {
  display: flex;
  flex-direction: column;
  border: 0.2em solid variables.$border-colour;
  padding: 0.4em;
  margin: 1em 0.5em;

  header {
    @include mixins.center-align;
    @include mixins.equally-spread;

    padding: 0.5em;

    img {
      max-height: 2.3em;
      max-width: 2.3em;
      padding-right: 0.5em;
    }

    div.name {
      @include mixins.center-align;

      font-weight: 200;
    }

    div.id {
      color: variables.$tweet-id-colour;
      font-weight: 400;
    }
  }

  div.content {
    padding: 1.2em 0.8em;
    border-bottom: variables.$border-colour 0.2em solid;
  }

  footer {
    @include mixins.equally-spread;

    font-size: 0.6em;
    align-content: center;
    padding: 0.9em 1em 0.5em;

    span.fas {
      padding: 0.1em;
    }

    span.fas:hover {
      color: variables.$tweet-icons-colour;
    }
  }
}

article.tweet:hover {
  box-shadow: 0.3em 0.3em variables.$tweet-shadow-colour;
}
