.page-header {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #D59B36;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    padding: 120px 0 0;
}