.page-header {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #d69d37;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  padding: 120px 0 0;
}

.page-header img {
  height: 200px;
}
