nav {
  position: fixed;
  background-color: transparent;
  color: #ffffff;
  height: 75px;
  width: 100vw;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  left: 0px;
}
nav span.logo {
  font-family: Bungee;
  font-size: 1.2em;
}
nav #to-new-tweet {
  font-size: 0.75em;
  text-align: center;
}
nav #to-new-tweet i.fas {
  color: #ef4126;
}
nav #to-new-tweet .strong {
  font-weight: 600;
}
nav #to-new-tweet .light {
  font-weight: 100;
}
nav #to-new-tweet:hover {
  cursor: pointer;
}
