nav {
    position: fixed;
    background-color: transparent;
    color: #FFFFFF;
    height: 120px;
    width: 100vw;
    padding: 0 1.5em;
    display: flex;
    align-items: center;
    top: 0px;
    left: 0px;
}

nav span.logo {  
    font-family: Bungee;
}